<template>
    <div class="chat-lists">
        <div class="messages">
            <div class="users">
                Tasya <span class="time">2020-08-07 12:20:20</span>
            </div>
            <div class="message">
                Pesan dari Tasya
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "chatBox",
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
