<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div id="app">
        <div>
            <input type="text" v-on:edit="updateInputValue($event)" v-bind:value="inputValue">
            <button @click="update(inputValue)">Update</button>
            <ul>
                <li v-for="(user, index) in users">
                    {{ user.name }}
                    <button @click="edit(user.name)">Edit</button>
                    <button @click="edit">Delete</button>
                </li>
            </ul>
        </div>
    </div>

    <!-- production version, optimized for size and speed -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script>
        Vue.component('template-new', {
            template: '#datas',
            props: ['name']
        });
        
        new Vue({
            el: '#app',
            data: {
                inputValue: '',
                users: [
                    {
                        name: 'Muhammad Iqbal Mubarok'
                    },
                    {
                        name: 'Ruby Purwanti'
                    },
                    {
                        name: 'Faqih Muhammad'
                    }
                ]
            },
            methods: {
                edit: function(name) {
                    this.$emit('edit', name);
                },
                updateInputValue: function(name) {
                    this.inputValue = name;
                    console.log(this.inputValue);
                },
                update: function(name) {
                    const index = this.users.indexOf(name)
                    this.users[index].name = name
                }
            }
        })
    </script>
</body>
</html>